* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}

:root {
  --white: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-50: hsl(330, 100%, 98%);
  --Rose-800: hsl(332, 51%, 32%);
  --title-font: "Young Serif", Georgia, "Times New Roman", Times, serif;
  --primary-font: "Outfit", Arial, Helvetica, sans-serif;
  --font-weight-1: 400;
  --font-weight-2: 600;
  --font-weight-3: 700;
}

html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font);
  color: var(--Stone-600);
  background-color: var(--Stone-100);
}

.main {
  background-color: var(--white);
}
.cover-img {
  width: 100%;
  height: 10rem;
  object-fit: fill;
}

.container {
  padding: 2rem;
}

.intro-container {
  width: 100%;
}

.title {
  font-family: var(--title-font);
  color: var(--Brown-800);
  margin-bottom: 1rem;
  font-weight: var(--font-weight-1);
  margin-top: 0;
}
.intro-container .recipeName {
  font-weight: var(--font-weight-1);
  color: var(--Stone-900);
  line-height: 1;
  margin-bottom: 2rem;
}

.intro {
  margin: 1rem 0;
}

h2 {
  font-size: 1.6rem;
}

.prep-container {
  background-color: var(--Rose-50);
  padding: 1rem 1rem 1.5rem 1rem;
  border-radius: 0.8rem;
  margin: 2rem 0;
}

.prep-container h3 {
  color: var(--Rose-800);
  margin: 0.3rem 0;
}

ul,
ol {
  list-style-position: inside;
}

ul {
  margin-right: 2rem;
  list-style: none;
}

ul li {
  position: relative;
  margin-top: 0.5rem;
  padding-left: 2rem;
}

ul li::before {
  content: "•";
  font-size: 1.3rem;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

ol {
  padding-left: 2rem;
}

ol strong {
  padding-left: 1.2rem;
}

ol li {
  text-indent: -2.2rem;
  margin-bottom: 0.5rem;
}
.instruction-container {
  /* margin-bottom: 1rem; */
  /* margin-right: .5rem; */
  padding: 0 0.2rem;
}

.line {
  margin: 1.5rem 0;
  border: none;
  height: 0.1rem;
  background-color: var(--Stone-150);
}

.nutrient-container {
  padding: 0 0.2rem;
}
.nutrition-intro {
  margin-bottom: 1rem;
}
.nutrient-container .nutrient {
  display: inline-block;
  width: 48%;
  padding: 0.5rem 0 0.4rem 2rem;
}
.nutrient-container .nutrient-value {
  padding-left: 1rem;
  width: 50%;
  text-align: left;
  color: var(--Brown-800);
}

.nutrient-container .line {
  margin: 0.2rem 0;
  background-color: var(--Stone-150);
}

@media (min-width: 720px) {
  html {
    font-size: 14px;
  }
  .main {
    width: 45rem;
    margin: 20vh 0;
    border-radius: 20px;
    padding: 2rem;
  }
  .container {
    padding: 0;
  }
  .cover-img {
    border-radius: 10px;
    margin-bottom: 2rem;
    height: 17.5rem;
  }
  .prep-container{
    margin-bottom: 1.5rem;
  }
  .instruction-container {
    padding: 0;
  }
  .intro-container .recipeName {
    margin-bottom: 1rem;
  }
}
